<div class="p-4 card w-1/2 shadow-xl bg-neutral-200">
  <div class="card-body">
    <h2 class="card-title">Name: <%= student.name %> </h2>
    <p>ID: <%= student.id %></p>
    <p>UID: <%= student.uid %></p>
  </div>
  <figure class="p-5">
      <%= generate_qr_code(@student.uid) %>
  </figure>
</div>
