<h1>Pending Users</h1>

<% if @pending_users.any? %>
  <ul id="pending-users-list">
    <% @pending_users.each do |user| %>
      <li id="user-<%= user.id %>">
        <%= user.email_address %> - <%= user.role.capitalize %>
        <%= button_to "Approve", approve_user_path(user), method: :patch, remote: true, data: { turbo: true, confirm: "Approve this user?" } %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No pending approvals.</p>
<% end %>
