<% if notice %>
  <div class="flex justify-center">
    <div class="alert alert-success shadow-lg text-center max-w-md mb-4">
      <i class="fas fa-check-circle"></i>
      <span><%= notice %></span>
    </div>
  </div>
<% end %>
