<div class="min-h-screen flex items-center justify-center px-4 bg-gradient-to-r from-blue-500 to-purple-500">
  <div class="bg-white bg-opacity-75 p-8 rounded-lg text-center min-w-[32rem] shadow-2xl shadow-sky-950">
    <%= yield %>
  </div>
</div>
