<% content_for :title, "Dashboard" %>
<div class="flex items-center justify-center min-h-[calc(100vh-64px)]">
  <div class="stats shadow text-3xl">
    <div class="stat">
      <div class="stat-figure text-secondary">
        <i class="fa-solid fa-user-graduate"></i>
      </div>
      <div class="stat-title">Students</div>
      <div class="stat-value"><%= number_with_delimiter(@student_count) %></div>
      <div class="stat-desc">Total Students</div>
    </div>
    <div class="stat">
      <div class="stat-figure text-accent">
        <i class="fa-solid fa-user-tie"></i>
      </div>
      <div class="stat-title">Total Check Ins</div>
      <div class="stat-value"><%= number_with_delimiter(@attendance_count) %></div>
      <div class="stat-desc">Last Check In <%= @last_checkin.nil? ? 'N/A' : time_ago_in_words(@last_checkin) %></div>
    </div>
  </div>
</div>