<% content_for :title, "Editing attendance" %>

<div class="mt-2">
  <h2 class="student-title">Attendance</h2>
</div>
<div class="student-card max-w-md mx-auto mt-2 p-4 border rounded-lg shadow-lg">

  <!-- Back & Edit Buttons in the Same Line -->
  <div style="display: flex; justify-content: space-between; align-items: center;">
    <%= link_to attendances_path, class: "btn" do %>
      <i class="fas fa-arrow-left"></i> Back
    <% end %>
  </div>
  <%= render "form", attendance: @attendance %>
  <br>

  <!-- Show Button -->
<!--  <div>-->
<!--    <div class="mt-4 flex justify-center space-x-4">-->
      <%#= link_to "Show this attendance", @attendance, class: "btn student-btn-show w-full mt-2" %>
<!--    </div>-->
<!--  </div>-->

</div>
