<div>
  <% content_for :title, "Scan Attendance" %>
  <h1>Scan Attendance</h1>
  <canvas id="qrcode-canvas"></canvas>
  <div id="reader" width="600px"></div>
  <script type="module">
    import { BrowserQRCodeReader, BrowserCodeReader } from '@zxing/browser';
    const codeReader = new BrowserQRCodeReader();
    const videoInputDevices = await BrowserCodeReader.listVideoInputDevices();
    console.log(videoInputDevices);

    // do something with codeReader...
  </script>
</div>